@{
    Layout = "";
    ViewBag.Title = "Subir Archivos";
}

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@ViewBag.Title - CIEES</title>
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<script type="text/javascript" src="~/Js/login.js"></script>
@if (ViewBag.ShouldClose)
{
    <script type="text/javascript">
        window.close();
    </script>
}
<center><img src="~/Imagenes/logo.jpg" style="width:40%;" /></center>
<center><h2>Subir archivo</h2></center>
<hr />
@using (Html.BeginForm("Subir", "Archivos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    
<center>
    <div style="text-align:justify; width:80%">
        <p>
            Desde aqui puede subir los archivos que se relacionen al punto anterior, los archivos deben tener un nombre adecuado como: "T1.1.1-Lista de Tutores.pdf"; de esta forma sera mas facil para el administrador la recopilacion de los documentos.
            Puede seleccionar mas de un archivo a la vez.
        </p>
    </div>
        <table style="width:80%">
            <tr @*style="background-color:aqua"*@>
                <td><input type="file" name="files" id="Files" multiple />  </td>
            </tr>
            <tr>
                <td><input class="btn btn-primary" type="submit" name="submit" value="Subir Archivo" /></td>
            </tr>
        </table>
    </center>
}

<div class="container body-content">
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Moguel - Rosas - Trinidad</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
