@{
    Layout = "";
    ViewBag.Title = "Subir Archivos";
}

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@ViewBag.Title - CIEES</title>
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<script type="text/javascript" src="~/Js/login.js"></script>
@if (ViewBag.ShouldClose)
{
    <script type="text/javascript">
        window.close();
    </script>
}
<h2>subir archivo</h2>

@using (Html.BeginForm("Subir", "Archivos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table>
        <tr>
            <td>archivo </td>
            <td><input type="file" name="files" id="Files" multiple />  </td>
        </tr>
        <tr>
            <td><input type="submit" name="submit" value="upload" /></td>
        </tr>
    </table>
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
