@model IEnumerable<CIEES.Models.Users>

@{
    ViewBag.Title = "Control de Usuarios";
}
<center><h2>Lista de Usuarios</h2></center>

    <p style="text-align:right">
        @Html.ActionLink("Nuevo Usuario", "Nuevo")
    </p>
<table class="table" id="customers">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.UsuarioId }) |
            @Html.ActionLink("Detalles", "Detalles", new { id=item.UsuarioId }) |
            @Html.ActionLink("Eliminar", "Borrar", new { id=item.UsuarioId })
        </td>
    </tr>
}

</table>
